{% load static %}
<html>
<head>
	<title></title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<!-- Include the above in your HEAD tag -->

	<link rel="stylesheet" type="text/css" href="{% static '' %}css/home.css">

</head>
<body>
	<div>
	   <div class="modal-dialog">
			<div class="loginmodal-container">
			<h1>Crear una cuenta</h1><br>
			<form>
				<input type="text" name="user" placeholder="Correo">
				<input type="password" name="pass" placeholder="Password">
				<input type="password" name="pass" placeholder="Repetir Password">
				<input type="submit" name="login" class="login loginmodal-submit" value="Crear cuenta">
			</form>
						
				<div class="login-help">
					¿Ya tienes cuenta?<a href=""></a> - <a href="{% url 'web:home' %}" style="color: #0067b8">Ingresar</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

