{% load static %}
<html>
<head>
	<title></title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<!-- Include the above in your HEAD tag -->

	<link rel="stylesheet" type="text/css" href="{% static '' %}css/home.css">

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<div>
	   <div class="modal-dialog">
			<div class="loginmodal-container">
			<h1>Crear una cuenta</h1><br>
			<form method="POST" action="{% url 'web:create_account' %}" class="form-log">
				{% csrf_token %}
				<input type="text" name="email" placeholder="Correo" class="validate[required]">
				<input type="password" name="password" placeholder="Password" class="validate[required]">
				<input type="password" name="password" placeholder="Repetir Password" class="validate[required]">

				<input type="submit" class="login loginmodal-submit" value="Crear cuenta">

			</form>
						
				<div class="login-help">
					¿Ya tienes cuenta?<a href=""></a> - <a href="{% url 'web:home' %}" style="color: #0067b8">Ingresar</a>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript" src="{% static 'js/jquery.validationEngine-es.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.validationEngine.js' %}"></script>
<script type="text/javascript">
$(function(){
	$("form").validationEngine('attach', {
		promptPosition : "topLeft",
		autoHidePrompt: true,
		autoHideDelay: 3000,
		binded: false,
		scroll: false
	});

    $('.login').click(function(e){
        e.preventDefault();
		var valid = $('.form-log').validationEngine('validate');
		if(valid){
			$('.form-log').submit()
		}
        
    })
})
</script>
</body>
</html>

